.app {
    background: #f1f1f1;
    display: grid;/*1 display: grid;*/
    font-family: Arial, Helvetica, sans-serif;
    grid-template-areas: /*2 define as areas */
    "cabecalho"
    "conteudo"
    "rodape";

    grid-template-columns: auto;/*3 define tamanho colunas auto*/
    grid-template-rows: 50px 100vh auto;/*4 define tamanho de 3 linhas cabecalho, conteudo, rodape 100vh*/
}
/*5 define cores para identificar*/
.cabecalho {
    /*background: #00cc99; retira o background por que já se pode ver*/

    grid-area: cabecalho;/*define esse e os abaixo|^*/
}
 
.conteudo {
   /*background: #ff8080;  retira o background por que já se pode ver*/ 

    grid-area: conteudo;
}

.rodape {
  /*background:  #0099ff; retira o background por que já se pode ver*/ 
   grid-area: rodape;
}